page-login {

    ion-content{
        
    
        .scroll-content{
        // background-image: url("…/../../../assets/imgs/bckground.jpg") ;
        // -webkit-background-size: cover;
        //   -moz-background-size: cover;
        //   -o-background-size: cover;
        //   background-size: cover;
        background-image:linear-gradient(#301924,#000000) ;
        }	
    }
    
    ion-input{
        text-align: center;
    }

    ion-icon{
        padding: 10px;
    }

    .intro {
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 14px;
    }

    .btn_container {
        padding-top: 14px;

        button {
            background: #3b5998;
        }
    }
    
    .nametop{
        margin-top: 6rem;
        margin-bottom:2rem;
        font-size: 3em;
        font-family: 'Megrim';
        color: orange;
    }
    h1,h6 {
        
        font-size: 1em;
        }
    
    .icon{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    
    }
    
    .row-style{
        background-color: #FFF;
        padding-left:15px;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    
    }
    