<!--
  Generated template for the AllTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <!-- <ion-fab bottom right>
        <button ion-fab color="primary" item-right><ion-icon name="calculator"></ion-icon></button>
      </ion-fab> -->
      <ion-card *ngIf="showSampleRec==false">
        ကျေးဇူးပြုပြီးပစ္စည်းအတွက်ပမာဏကိုမြှောက်ပါ၊ ရှိပြီးသားငွေတောင်းခံလွှာကိုထည့်ရန်တူညီသောစာလုံးကိုနှိပ်ပါ။

        အလွတ်ပစ္စည်းပေါင်းများစွာကိုထည့်သွင်းလိုပါက * qty တစ်ခုချင်းစီကိုရိုက်ထည့်ပြီးနောက်တစ်ခုကိုရိုက်ထည့်ရန် + သင်္ကေတကိုနှိပ်ပါ
      </ion-card>
      
  <ion-grid>
    <ion-row>

      <ion-col col-12 col-md-6>

          <div class="calculator">
            <div class="header">
              <div class="window"></div>
              <div class="input">
                <ion-row>
                  <ion-input type="text" placeholder="0" name="display" [(ngModel)]="result">
                  </ion-input>
                  <ion-icon name="backspace" (click)="btnClicked('b')"></ion-icon>
                  
                </ion-row> 
               
                    
                
              </div>
             
              
            </div>
            <div class="keys">
              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('7')">7</span>
                  <span (click)="btnClicked('8')">8</span>
                  <span (click)="btnClicked('9')">9</span>
                </div>
                <div class="symbol">
                  <span (click)="btnClicked('*')">×</span>

                </div>
              </div>

              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('4')">4</span>
                  <span (click)="btnClicked('5')">5</span>
                  <span (click)="btnClicked('6')">6</span>
                </div>

                <div class="symbol">
                  <span (click)="btnClicked('+')">+</span>
           </div>
              </div>

              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('1')">1</span>
                  <span (click)="btnClicked('2')">2</span>
                  <span (click)="btnClicked('3')">3</span>
                </div>

                <div class="symbol">
                  <span (click)="btnClicked('/')">÷</span>
                  <span (click)="btnClicked('squareroot')">√x</span>
                </div>


              </div>


              <div class="row">
                <div class="number">
                  <span class=dull (click)="btnClicked('C')">C</span>
                  <span (click)="btnClicked('0')">0</span>
                  <span (click)="btnClicked('-')">-</span>



                </div>

                <div class="symbol action">
                  <span (click)="btnClicked('=')">=</span>
                </div>

              </div>
            </div>
          </div>

    

      </ion-col>

      <ion-col col-12 col-md-6>


        <ion-card *ngIf="showSampleRec==true"> 

                <ion-grid>
          
                  <ion-row> <ion-col style="text-align: center; padding-top: 5px;">{{userdata.business_name}} </ion-col> </ion-row>
          
                  <ion-row>
                      <ion-col col-12 style="color: grey; font-size: 10px; text-align: center"> {{userdata.business_address}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-12 style="color: grey; font-size: 10px; text-align: center"> Ph: {{userdata.ph_no}}</ion-col>
                  </ion-row>
          
                  <ion-row style="padding-top: 5px;">
                      <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><b>Sl</b></ion-col>
                      <ion-col col-4 style="color: black; font-size: 10px; text-align: center"><b>ပစ္စည်း</b></ion-col>
                      <ion-col col-2 style="color: black; font-size: 10px; text-align: center"><b>စျေးနှုန်း</b></ion-col>
                      <ion-col col-2 style="color: black; font-size: 10px; text-align: center"><b>ပမာဏ</b></ion-col>
                      <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="arrow-dropup-circle" style=" color: green"></ion-icon></ion-col>
                      <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="arrow-dropdown-circle" style=" color: red"></ion-icon></ion-col>
                      <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="close" style=" color: red"></ion-icon></ion-col>
                  </ion-row>
          
                 
          
                  <ion-list *ngFor="let item of itemsprice; let i = index" no-lines>
          
              
                    <ion-row>
                        <ion-col col-1 style="color: black; font-size: 10px; text-align: center">{{i+1}}.</ion-col>
                        <ion-col col-4 style="color: black; font-size: 10px; text-align: center">
                         Item {{i+1}}</ion-col>   
                        <ion-col col-2 style="color: black; font-size: 10px; text-align: center">{{item}}</ion-col>
                        <ion-col col-2 style="color: black; font-size: 10px; text-align: center">{{itemsqty[i]}}</ion-col>
                        <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="arrow-dropup-circle" style=" color: green"></ion-icon></ion-col>
                        <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="arrow-dropdown-circle" style=" color: red"></ion-icon></ion-col>
                        <ion-col col-1 style="color: black; font-size: 10px; text-align: center"><ion-icon name="close" style=" color: red"></ion-icon></ion-col>
                    </ion-row>
                
          
                  </ion-list>
          
                  <ion-row padding>
                      <ion-col col-1></ion-col>  
                    <ion-col col-4 style="text-align: center;font-size: 10px;"><b>စုစုပေါင်း</b> </ion-col>
                      <ion-col col-2 style="text-align: center;font-size: 10px;"><b>{{lastsum}}</b> </ion-col>
                      <ion-col col-5></ion-col>
                    </ion-row>
          
          
                   
          
          
                </ion-grid>
          
          
          

        </ion-card>

      </ion-col>



    </ion-row>


  </ion-grid>



  <!-- Dynamically Generate All transactions from backend - see feed from prev -->

</ion-content>

<ion-footer>

    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button (click)="createRec()" full style="background-color: #222">ငွေလက်ခံဖြတ်ပိုင်းကိုဖန်တီးပါ</button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-footer>
