<ion-header>
  <ion-navbar transparent>
   <!--  <ion-title>
     AdMonkey
    </ion-title> -->
 

  </ion-navbar>
</ion-header>

<ion-content padding>
	
		<button ion-button block clear color="light" class="nametop"><b>Open</b></button> 

<ion-grid style="width: 75%;">

	<div *ngIf="nextbtn!=1">
	<ion-row class="row-style1" justify-content-center align-items-center style="height: 100%">စီးပွားရေးလုပ်ငန်းတစ်ခုမှတ်ပုံတင်ပါ</ion-row>
	<ion-row class="row-style"> 
		<ion-icon name="person" color="semi-light" class="icon"></ion-icon>
		<ion-input type="text" placeholder="နာမည်" [(ngModel)]="name"></ion-input>
	</ion-row>
	<ion-row class="row-style">
		<ion-icon name="mail" color="semi-light" class="icon"></ion-icon>
		<ion-input type="email" placeholder="အီးမေးလ်" [(ngModel)]="email"> </ion-input>
	</ion-row>
	<ion-row class="row-style">
		<ion-icon name="key" color="semi-light" class="icon"></ion-icon>
		<ion-input type="password" placeholder="စကားဝှက်"  [(ngModel)]="password"></ion-input>
	</ion-row>
	<ion-row class="row-style">
		<ion-icon name="home" color="semi-light" class="icon"></ion-icon>
		<ion-input type="text" placeholder="စီးပွားရေးအမည် "  [(ngModel)]="businessname"></ion-input>
	</ion-row>
	<ion-row class="row-style">
		<ion-icon name="pin" color="semi-light" class="icon"></ion-icon>
		<ion-input type="text" placeholder="စီးပွားရေးလိပ်စာ"  [(ngModel)]="businessaddress"></ion-input>
	</ion-row>
	<ion-row class="row-style">
		<ion-icon name="call" color="semi-light" class="icon"></ion-icon>
		<ion-input type="text" placeholder="ဖုန်းနံပါတ်"  [(ngModel)]="phno"></ion-input>
	</ion-row>
<button ion-button block round outline color="light" style="margin-top: 10px;" (click)="nextPg()">နောက်တစ်ခု</button>
</div>
<div *ngIf="nextbtn==1">
		<button ion-button block round outline color="light" style="margin-bottom: 10px;" (click)="prevPg()">ယခင်</button>
	<ion-row class="row-style">
			<ion-icon name="globe" color="semi-light" class="icon"></ion-icon>
			<ion-label>လုပ်ငန်းအမျိုးအစား</ion-label>
			<ion-select [(ngModel)]="businesstype">
					<ion-option>Pharmaceuticals</ion-option>
					<ion-option>Tailor</ion-option>
					<ion-option>KTV</ion-option>
					<ion-option>Fashion</ion-option>
					<ion-option>Retail</ion-option>
					<ion-option>Wholesale</ion-option>
					<ion-option>Food</ion-option>
			</ion-select>
			<!-- <ion-input type="text" placeholder="Language"  [(ngModel)]="businessname"></ion-input> -->
   </ion-row>


	<ion-row class="row-style">
		<ion-icon name="chatboxes" color="semi-light" class="icon"></ion-icon>
		<ion-label>ဘာသာစကား</ion-label>
		<ion-select [(ngModel)]="language">
				<ion-option>English</ion-option>
				<ion-option>Filipino</ion-option>
				<ion-option>ဗမာ</ion-option>
		</ion-select>
		<!-- <ion-input type="text" placeholder="Language"  [(ngModel)]="businessname"></ion-input> -->
	</ion-row>

	<ion-row class="row-style">
			<ion-icon name="logo-usd" color="semi-light" class="icon"></ion-icon>
			<ion-label>ငွေကြေး</ion-label>
			<ion-select [(ngModel)]="currency">
					<ion-option>USD</ion-option>
					<ion-option>PHP</ion-option>
					<ion-option>MMK</ion-option>
			</ion-select>
			<!-- <ion-input type="text" placeholder="Language"  [(ngModel)]="businessname"></ion-input> -->
		</ion-row>


	<ion-row class="row-style">
		<ion-icon name="cash" color="semi-light" class="icon"></ion-icon>
		<ion-input type="number" placeholder="ငွေလက်ကျန်"  [(ngModel)]="cb"></ion-input>
	</ion-row>

	<ion-row class="row-style">
			<ion-icon name="cash" color="semi-light" class="icon"></ion-icon>
			<ion-input type="number" placeholder="လျှော့စျေးနှုန်း %"  [(ngModel)]="discount"></ion-input>
		</ion-row>

		<ion-row class="row-style">
				<ion-icon name="cash" color="semi-light" class="icon"></ion-icon>
				<ion-input type="number" placeholder="အခွန်နှုန်း %"  [(ngModel)]="taxrate"></ion-input>
			</ion-row>
	<ion-row>
		<button ion-button block round outline color="light" style="margin-top: 20px;" (click)="signup()">ဆိုင်းအပ်</button>
	</ion-row>
</div>
</ion-grid>
<button ion-button block clear color="light" style="margin-top: 10px;" (click)="goBack()">အကောင့်ရှိပြီးသားလား? လော့ဂ်အင်</button>
</ion-content>
