<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Update Product</ion-title>
  </ion-navbar> 
</ion-header> -->

<ion-content padding>
  <ion-list inset>

    <!-- <ion-item>
      <ion-label>Photo</ion-label>  
          <ion-input type="number" [(ngModel)]='product.price'></ion-input>
      </ion-item> -->
 
      <ion-item>
          <button ion-button (click)="launchCamera()">Take Picture</button>
          <img *ngIf="image!=null" [src]="image" style="width: 100px;">  
      </ion-item>
    
    <ion-item>
      <ion-label>ထုတ်ကုန်ကုဒ်</ion-label>
      <ion-input type="text" [(ngModel)]='product.code'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>နာမည်</ion-label>
      <ion-input type="text" [(ngModel)]='product.name'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>စျေးနှုန်း</ion-label>
      <ion-input type="number" [(ngModel)]='product.price'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ကုန်ကျစရိတ်</ion-label>
        <ion-input type="number" [(ngModel)]='product.cost'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>QTY</ion-label>
      <ion-input type="number" [(ngModel)]='product.stock_qty'></ion-input>
  </ion-item>
      <ion-item>
          <ion-label>အမျိုးအစားရွေးပါ</ion-label>
          <ion-select multiple="false" [(ngModel)]='product.cat'>
              <ion-option *ngFor="let element of listCat" value="{{element.name}}">{{element.name}}</ion-option>    
          </ion-select>
      </ion-item>
    
    

  
  </ion-list>
  <button ion-button block color="primary" (click)="updateProduct()">နောက်ဆုံးသတင်း</button>
  <button ion-button block color="primary" (click)="scanQR()">Scan Code ကို</button>
  <button ion-button block color="danger" (click)="deleteproduct(product)">ဖျက်ပါ</button>
</ion-content>
